.pages{
    margin: 4vh;width: 40vw;position: relative;height:auto;overflow-y: auto;
}
.page1, .page2, .page3{width: 40vw;
    position: relative;
}

.page3{
    z-index: 3;
}
#nav a{
   
    height: 2rem;
    

}
#nav{
    height: 8vh;color: brown;
}